<template>
  <div class="ui icon buttons">
    <button 
      @click="edit"
      type="button" 
      class="ui button olive"><i class="icon pencil"/></button>
    <button 
      @click="remove"
      type="button" 
      class="ui button red"><i class="icon times"/></button>
  </div>
</template>

<script>
export default {
  name: "ActionView",
  methods: {
    edit() {
      this.$emit("edit");
    },
    remove() {
      this.$emit("remove");
    }
  }
};
</script>
