<template>
  <div 
    v-if="index"
    class="ui segment">
    <h2 class="ui header">
      Challenge
    </h2>
    <button 
      @click.prevent="edit(null)" 
      class="ui icon circular green button">
      <i class="plus icon"/>
    </button>
    <div 
      v-if="challenges && challenges.length" 
      class="ui segments">
      <div 
        v-for="challenge in challenges" 
        :key="challenge.id"
        class="ui segment grid">
        <div class="row">
          <div class="eleven wide column">
            <h3 class="ui header">
              {{ challenge.title }}
              <div class="sub header">{{ challenge.description }}</div>
            </h3>
            <span>
              <p>{{ challenge.body }}</p>
            </span>
          </div>
          <div class="five wide column">
            <action-view 
              @edit="edit(challenge._id)" 
              @remove="remove(challenge._id)"/>
          </div>
        </div>
      </div>
    </div>
    <div 
      class="ui segment" 
      v-else>
      <p>Currently no challenge</p>
    </div>
  </div>
  <challenge-edit 
    @save="save"
    @cancel="cancel" 
    v-else/>
</template>

<script>
import ChallengeEdit from "./challengeEdit";
import ActionView from "./actionView";
export default {
  name: "ChallengeView",
  components: {
    ActionView,
    ChallengeEdit
  },
  data() {
    return {
      index: true,
      editingId: null
    };
  },
  computed: {
    challenges() {
      return this.$store.getters["challenge/all"];
    }
  },
  methods: {
    fetchData() {
      this.$store.dispatch("challenge/get");
    },
    edit(id) {
      if (id) {
        this.editingId = id;
      }
      this.index = false;
    },
    remove(id) {
      const status = confirm("Do you want to delete?");
      if (status) {
        this.$store
          .dispatch("challenge/remove", [id, this.$store.getters["user/auth"]])
          .then(response => {
            alert("Deleted");
            this.fetchData();
          });
      }
    },
    save() {
      this.fetchData();
      this.index = true;
    },
    cancel() {
      this.index = true;
    }
  },
  mounted() {
    this.fetchData();
  }
};
</script>
