<template>
  <div class="ui segment">
    <h2 class="ui header">
      Content Edit
    </h2>
    <div class="ui segment">
      <form 
        @submit.prevent="save" 
        class="ui form">
        <div class="field">
          <label>Title</label>
          <input 
            v-model="content.title"
            type="text" 
            placeholder="Title">
        </div>
        <div class="field">
          <label>Description</label>
          <input 
            v-model="content.description"
            type="text" 
            placeholder="Description">
        </div>
        <div class="field">
          <label>Body</label>
          <textarea 
            v-model="content.body"
            rows="20"
            type="text" 
            placeholder="Body"/>
        </div>
        <div class="field">
          <label>Section</label>
          <select 
            v-model="content.sectionId" 
            class="ui search dropdown">
            <option value="">Section</option>
            <option 
              v-for="section in sections" 
              :key="section._id"
              :value="section._id">
              {{ section.title }}
            </option>
          </select>
        </div>
        <div class="field">
          <button 
            type="submit" 
            class="ui button primary">Save</button>
          <button 
            @click.prevent="cancel"
            type="button" 
            class="ui button negative">Cancel</button>
        </div>
      </form>
      {{ content }}
    </div>
  </div>
</template>

<script>
export default {
  name: "TagEdit",
  data() {
    return {
      content: {
        _id: null,
        title: null,
        description: null,
        body: null,
        sectionId: null
      }
    };
  },
  computed: {
    sections() {
      return this.$store.getters["section/all"];
    }
  },
  methods: {
    save() {
      this.$store
        .dispatch("content/save", this.content)
        .then(response => {
          this.$emit("save");
        })
        .catch(error => {
          console.log(error);
        });
    },
    cancel() {
      this.$emit("cancel");
    },
    fetchData() {
      this.$store.dispatch("section/get");
      if (this.$parent.editingId) {
        this.content = this.$store.getters["content/info"](
          this.$parent.editingId
        );
        this.content.sectionId = this.content.section._id;
      }
    }
  },
  mounted() {
    this.fetchData();
  }
};
</script>
