<template>
  <div 
    v-if="index"
    class="ui segment">
    <h2 class="ui header">
      Content
    </h2>
    <button 
      @click.prevent="edit(null)" 
      class="ui icon circular green button">
      <i class="plus icon"/>
    </button>
    <div 
      v-if="contents && contents.length" 
      class="ui segments">
      <div 
        v-for="content in contents" 
        :key="content.id"
        class="ui segment grid">
        <div class="row">
          <div class="eleven wide column">
            <h3 class="ui header">
              {{ content.title }}
              <div class="sub header">{{ content.description }}</div>
            </h3>
            <span>
              <p>{{ content.body }}</p>
            </span>
          </div>
          <div class="five wide column">
            <action-view 
              @edit="edit(content._id)" 
              @remove="remove(content._id)"/>
          </div>
        </div>
      </div>
    </div>
    <div 
      class="ui segment" 
      v-else>
      <p>Currently no content</p>
    </div>
  </div>
  <charger-edit 
    @save="save"
    @cancel="cancel" 
    v-else/>
</template>

<script>
import ChargerEdit from "./chargerEdit";
import ActionView from "./actionView";
export default {
  name: "ChargerView",
  components: {
    ActionView,
    ChargerEdit
  },
  data() {
    return {
      index: true,
      editingId: null
    };
  },
  computed: {
    contents() {
      return this.$store.getters["content/all"];
    }
  },
  methods: {
    fetchData() {
      this.$store.dispatch("content/get");
    },
    edit(id) {
      if (id) {
        this.editingId = id;
      }
      this.index = false;
    },
    remove(id) {
      const status = confirm("Do you want to delete?");
      if (status) {
        this.$store
          .dispatch("content/remove", [id, this.$store.getters["user/auth"]])
          .then(response => {
            alert("Deleted");
            this.fetchData();
          });
      }
    },
    save() {
      this.fetchData();
      this.index = true;
    },
    cancel() {
      this.index = true;
    }
  },
  mounted() {
    this.fetchData();
  }
};
</script>
