<template>
  <div 
    v-if="index"
    class="ui segment">
    <h2 class="ui header">
      Section
    </h2>
    <button 
      @click.prevent="edit(null)" 
      class="ui icon circular green button">
      <i class="plus icon"/>
    </button>
    <div 
      v-if="sections && sections.length" 
      class="ui segments">
      <div 
        v-for="section in sections" 
        :key="section.id"
        class="ui segment grid">
        <div class="row">
          <div class="eleven wide column">
            <h3 class="ui header">
              {{ section.title }}
              <div class="sub header">{{ section.description }}</div>
            </h3>
            <span>
              <p>Contents: {{ section.contents.length }}  Challenge: {{ section.challenges.length }}</p>
            </span>
          </div>
          <div class="five wide column">
            <action-view 
              @edit="edit(section._id)" 
              @remove="remove(section._id)"/>
          </div>
        </div>
      </div>
    </div>
    <div 
      class="ui segment" 
      v-else>
      <p>Currently no sections</p>
    </div>
  </div>
  <section-edit 
    @save="save"
    @cancel="cancel" 
    v-else/>
</template>

<script>
import SectionEdit from "./sectionEdit";
import ActionView from "./actionView";
export default {
  name: "SectionView",
  components: {
    SectionEdit,
    ActionView
  },
  data() {
    return {
      index: true,
      editingId: null
    };
  },
  computed: {
    sections() {
      return this.$store.getters["section/all"];
    }
  },
  methods: {
    fetchData() {
      this.$store.dispatch("section/get");
    },
    edit(id) {
      if (id) {
        this.editingId = id;
      }
      this.index = false;
    },
    remove(id) {
      const status = confirm("Do you want to delete?");
      if (status) {
        this.$store
          .dispatch("section/remove", [id, this.auth])
          .then(response => {
            alert("Deleted");
            this.fetchData();
          });
      }
    },
    cancel() {
      this.index = true;
    },
    save() {
      this.fetchData();
      this.index = true;
    }
  },
  mounted() {
    this.fetchData();
  }
};
</script>

