<template>
  <div class="ui segment">
    <h2 class="ui header">
      Section Edit
    </h2>
    <div class="ui segment">
      <form 
        @submit.prevent="save" 
        class="ui form">
        <div class="field">
          <label>Title</label>
          <input 
            v-model="section.title"
            type="text" 
            placeholder="Title">
        </div>
        <div class="field">
          <label>Description</label>
          <input 
            v-model="section.description"
            type="text" 
            placeholder="Description">
        </div>
        <div class="field">
          <button 
            type="submit" 
            class="ui button primary">Save</button>
          <button 
            @click.prevent="cancel"
            type="button" 
            class="ui button negative">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "SectionEdit",
  data() {
    return {
      section: {
        _id: null,
        title: null,
        description: null,
        contents: [],
        challenges: []
      }
    };
  },
  mounted() {
    this.fetchData();
    $("select.dropdown").dropdown();
  },
  computed: {
    tags() {
      return this.$store.getters["tag/all"];
    }
  },
  methods: {
    fetchData() {
      if (this.$parent.editingId) {
        this.section = this.$store.getters["section/info"](
          this.$parent.editingId
        );
      }
    },
    save() {
      this.$store
        .dispatch("section/save", this.section)
        .then(response => {
          this.$emit("save");
        })
        .catch(error => {
          console.error(error);
        });
    },
    cancel() {
      this.$emit("cancel");
    }
  }
};
</script>

