<template>
  <aside class="ui vertical menu">
    <a 
      id="charger"
      @click="switchModule" 
      class="teal item">
      Charger
      <div class="ui label">{{ contentCount }}</div>
    </a>
    <a 
      id="challenge"
      @click="switchModule" 
      class="teal item">
      Challenge
      <div class="ui label">{{ challengeCount }}</div>
    </a>
    <a 
      id="sections"
      @click="switchModule" 
      class="teal item">
      Sections
      <div class="ui label">{{ sectionCount }}</div>
    </a>
  </aside>
</template>

<script>
export default {
  name: "AdminSidebar",
  computed: {
    contentCount() {
      return this.$store.getters["content/count"];
    },
    challengeCount() {
      return this.$store.getters["challenge/count"];
    },
    sectionCount() {
      return this.$store.getters["section/count"];
    }
  },
  methods: {
    fetchData() {
      this.$store.dispatch("content/get");
      this.$store.dispatch("challenge/get");
      this.$store.dispatch("section/get");
    },
    switchModule(event) {
      this.$emit("switchModule", event.target["id"]);
    }
  },
  mounted() {
    this.fetchData();
  }
};
</script>

