<template>
  <div 
    class="navbar"
    style="color:#e1e1e1;">
    <div class="item">
      <img 
        id="icon"
        src="@/assets/img/cards/back.png"
        @click="routeTo('home')">
    </div>
    <div id="status">
      <p>YOUR LATEST ACTIVITY</p>
      <p><font size="5">Lesson1 - Basic input/output</font></p>
    </div>
    <button class="button-r">Resume-class</button>
  </div>
</template>

<script>
export default {
  name: "AllLessonsNav",
  mounted() {}
};
</script>

<style lang="scss" scoped>
.navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0.2em 2em 0.2em rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 48px;
  left: 0;
  right: 0;
  width: 100%;
  height: 10em;
  z-index: 999;
}

.button-r {
  margin-top: 2.2em;
  margin-right: 15em;
  float: right;
  padding: 2em 4em;
  border: none;
  background: whitesmoke;
  letter-spacing: 5px;
  text-transform: uppercase;
  &:hover {
    background: linear-gradient(90deg, #d1fdff, #fddb92);
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.item {
  margin-left: 2em;
  margin-top: 2em;
  float: left;
}

#status {
  color: black;
  margin-top: 3em;
  margin-left: 18em;
  float: left;
}

#icon {
  width: 3em;
  height: 3em;
  &:hover {
    background: linear-gradient(90deg, #d1fdff, #fddb92);
  }
}
</style>


