<template>
  <div class="ui four stackable cards pt">
    <nuxt-link
      :to="{path: `/charger/${encodeURIComponent(section.title.toLowerCase())}`}"
      class="ui card link"
      v-for="(section, index) in sections"
      :key="index">
      <div class="content">
        <div class="ui header">
          <span class="sub header">
            Lesson {{ index + 1 }}: 
            <h3>
              {{ section.title }}
            </h3>
          </span>
        </div>
        <p>
          {{ section.description }}
        </p>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  computed: {
    sections() {
      return this.$store.getters["section/all"];
    }
  },
  methods: {
    fetchData() {
      this.$store.dispatch("section/get");
    }
  },
  mounted() {
    this.fetchData();
  }
};
</script>

<style lang="scss">
.lesson-topic {
  width: 13em;
  height: 15em;
  margin-left: 3em;
  background: white;
  border: none;
  outline: none;
  box-shadow: 0 0.2em 2em 0.2em rgba(0, 0, 0, 0.2);
  &:hover {
    background: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  }
}

.slide-fade-enter-active {
  transition: all 0.8s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>


