<template>
  <div 
    id="login-form" 
    class="ui very padded segment stacked faded">
    <form 
      @submit.prevent="login()" 
      class="ui form">
      <h2>Login</h2>
      <div class="ui error message"/>
      <div class="field">
        <label>Username</label>
        <div class="ui input">
          <input 
            v-model="user.username"
            type="text" 
            name="username"
            placeholder="Username">
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui right icon input">
          <input 
            v-model="user.password"
            :type="toggle? 'text': 'password'" 
            name="password"
            placeholder="Password">
          <i 
            @click="toggle = !toggle"
            class="icon link circular" 
            :class="toggle? 'eye inverted':'eye slash'"/>
        </div>
      </div>
      <div class="field">
        <button
          @click.prevent="login" 
          class="ui basic primary button" 
          type="submit">
          Login
        </button>
        <button
          @click.prevent="clear"
          class="ui basic negative button"
          type="button">
          Clear
        </button>
      </div>
      <div class="field">
        Don't have an account yet? 
        <a 
          @click.prevent="registerToggle"
          href="#">Register</a>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "LoginForm",
  data() {
    return {
      toggle: false,
      user: {
        username: null,
        password: null
      }
    };
  },
  methods: {
    login() {
      this.$parent.isLoading = true;
      if ($(".ui.form").form("is valid")) {
        this.$store
          .dispatch("user/login", this.user)
          .then(response => {
            this.$emit("login");
          })
          .catch(error => {
            this.$parent.isLoading = false;
            alert("Login failed");
          });
      }
    },
    clear() {
      $(".ui.form").form("reset");
      for (var prop in this.user) {
        this.user[prop] = "";
      }
    },
    registerToggle() {
      this.$emit("registerToggle");
    }
  },
  mounted() {
    $(".ui.form").form({
      fields: {
        username: "empty",
        password: "empty"
      },
      on: "blur",
      onSuccess: function(event, fields) {
        event.preventDefault();
      }
    });
  }
};
</script>
