<template>
  <div 
    id="register-form"
    class="ui very padded segment stacked faded">
    <form 
      @submit.prevent="register" 
      class="ui form">
      <h2>Register</h2>
      <div class="ui error message"/>
      <div class="field">
        <label>Name</label>
        <div class="two fields">
          <div class="field">
            <input 
              v-model="user.firstName"
              type="text" 
              name="firstName"
              placeholder="First Name">
          </div>
          <div class="field">
            <input 
              v-model="user.lastName"
              type="text" 
              name="lastName"
              placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Username</label>
        <input 
          v-model="user.username" 
          type="text" 
          name="username"
          placeholder="Username">
      </div>
      <div class="field">
        <label>Email</label>
        <input 
          v-model="user.email" 
          type="email" 
          name="email"
          placeholder="Email address">
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui right icon input">
          <input
            v-model="user.password"
            :type="toggle? 'text':'password'"
            name="password"
            placeholder="Password">
          <i 
            @click="toggle = !toggle"
            class="icon link circular" 
            :class="toggle? 'eye inverted':'eye slash'"/>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input 
            v-model="agreed"
            name="termAgree"
            type="checkbox" 
            tabindex="0" 
            class="hidden">
          <label>I agree to the <nuxt-link :to="{path: '/'}">Terms and Conditions</nuxt-link></label>
        </div>
      </div>
      <div class="field">
        <button 
          class="ui basic primary button" 
          type="submit">Register</button>
        <button 
          class="ui basic negative button" 
          type="button" 
          @click.prevent="clear">Clear</button>
      </div>
      <div class="field">
        Already have an account? 
        <a 
          @click.prevent="registerToggle"
          href="#">Login</a>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "RegisterForm",
  data() {
    return {
      user: {
        firstName: null,
        lastName: null,
        username: null,
        email: null,
        password: null
      },
      toggle: false,
      agreed: false
    };
  },
  methods: {
    registerToggle() {
      this.$emit("registerToggle");
    },
    register() {
      this.$parent.isLoading = true;
      if ($(".ui.form").form("is valid")) {
        this.$store
          .dispatch("user/save", this.user)
          .then(result => {
            this.progress(result);
            this.$parent.isLoading = false;
            alert("Registration Success");
            this.registerToggle();
          })
          .catch(error => {
            this.$parent.isLoading = false;
            alert("Registration Failed");
          });
      } else {
        this.$parent.isLoading = false;
        alert("Registration Failed");
      }
    },
    progress(result) {
      this.$store.dispatch("progress/init", result.data._id).then(response => {
        console.log(response);
      });
    },
    clear() {
      $(".ui.form").form("reset");
      for (var prop in this.user) {
        this.user[prop] = "";
      }
    }
  },
  mounted() {
    $(".ui.checkbox").checkbox();
    $(".ui.form").form({
      fields: {
        firstName: ["empty", `regExp[/^[a-z ,.'-]+$/i]`],
        lastName: ["empty", `regExp[/^[a-z ,.'-]+$/i]`],
        username: ["empty", "minLength[4]"],
        email: ["empty", "email"],
        password: ["empty", "minLength[8]"]
      },
      on: "blur",
      onSuccess: function(event, field) {
        event.preventDefault();
      }
    });
  }
};
</script>
