<template>
  <div 
    v-if="content" 
    class="ui container text pt p-small">
    <h2 class="ui header">
      {{ content.title }}
      <p class="sub header">
        {{ content.description }}
      </p>
    </h2>
    <p class="content">
      {{ content.body }}
    </p>
    <button 
      @click.prevent="back" 
      class="ui labeled icon primary button">
      <i class="icon chevron left"/>
      Back
    </button>
  </div>
</template>

<script>
export default {
  name: "Content",
  layout: "noHeader",
  data() {
    return {};
  },
  computed: {
    // token() {
    //   return this.$store.getters["user/getToken"];
    // },
    param() {
      return this.$route.params.content;
    },
    content() {
      return this.$store.getters["content/title"](this.param);
    }
  },
  methods: {
    fetchData() {
      this.$store.dispatch("content/get");
    },
    back() {
      this.$router.go(-1);
    }
  },
  mounted() {
    if (!this.user) {
      this.$router.push({
        name: "index"
      });
    }
    this.fetchData();
  }
};
</script>
