<template>
  <div
    class="ui container">
    <div>
      <lesson-cards/>
    </div>
  </div>
</template>

<script>
import lessonCards from "@/components/charger/lessonCards";
export default {
  name: "Charger",
  layout: "noHeader",
  components: {
    lessonCards
  },
  computed: {
    user() {
      return this.$store.getters["user/getUser"];
    }
  },
  mounted() {
    if (!this.user) {
      this.$router.push({
        name: "index"
      });
    }
  }
};
</script>


