<template>
  <div class="ui container">
    <h3 class="ui header">
      <i class="icon info teal circle"/>
      Basic info
    </h3>
    <form 
      @submit.prevent="save" 
      class="ui form">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input 
              v-model="user.firstName"
              type="text" 
              name="firstName"
              placeholder="First Name">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input 
              v-model="user.lastName"
              type="text" 
              name="lastName"
              placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="field">
        <div class="two fields">
          <div class="field">
            <label>Email</label>
            <input 
              v-model="user.email"
              type="email" 
              name="email"
              placeholder="Email Address">
          </div>
          <div class="field">
            <label>Username</label>
            <input 
              v-model="user.username"
              type="text" 
              name="username"
              placeholder="Username" 
              disabled>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Bio <span :class="{'danger': count < 20}">({{ count }})</span></label>
        <input 
          @input="checkBio"
          v-model="user.bio" 
          name="bio" 
          placeholder="Bio">
      </div>
      <div class="field">
        <button 
          class="ui button primary" 
          type="submit">Save</button>
        <button 
          @click="cancel"
          class="ui button negative" 
          type="button">
          Cancel
        </button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "BasicProfileForm",
  computed: {
    user() {
      return this.$store.getters["user/getUser"];
    },
    fallBack() {
      return this.$store.getters["user/fallBack"];
    },
    count() {
      return 80 - this.$store.getters["user/bioLength"];
    }
  },
  methods: {
    checkBio(event) {
      if (this.count < 0) {
        this.user.bio = this.user.bio.substr(0, 80);
      }
    },
    fetchData() {
      this.$store.dispatch("user/get");
    },
    save() {
      this.$store.dispatch("user/save", this.user).then(response => {
        alert("Saved");
        this.fetchData();
      });
    },
    cancel() {
      this.user = this.fallBack;
    }
  }
};
</script>

