<template>
  <div class="ui container pt p-small">
    <h3 class="ui header">
      <i class="icon yellow trophy circle"/>
      Statictics
    </h3>
    <div class="ui segments">
      <div class="ui segment">
        <p>Challenge Scores</p>
      </div>
      <div class="ui segments">
        <div class="ui segment">
          <p>First time perfect score</p>
        </div>
        <div class="ui segment">
          <p>Perfect Score</p>
        </div>
        <div class="ui segment">
          <p>Streaks</p>
        </div>
      </div>
      <div class="ui segment">
        <p>Reputation</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Statistic"
};
</script>
