<template>
  <div class="ui container text pt mb p-small">
    <button 
      @click.prevent="back" 
      class="ui labeled icon button">
      <i class="left chevron icon"/>
      Back
    </button>
    <div class="ui segment">
      <h2 class="ui header">
        {{ post.title }}
        <h4 class="sub header">
          Posted by {{ post.author.username }} on {{ new Date(post.dateTime).toLocaleString('en-GB') }}
        </h4>
      </h2>
      <p>
        {{ post.body }}
      </p>
    </div>
    <div 
      v-for="comment in post.comments" 
      :key="comment._id" 
      class="ui message">
      <a 
        @click.prevent="checkAnswer(comment)" 
        class="ui right corner label"
        :class="{'green': comment.isValidAnswer}">
        <i class="check icon"/>
      </a>
      <div class="header">
        {{ comment.author.username }}
      </div>
      <p>
        {{ comment.body }}
      </p>
      <small>{{ new Date(comment.dateTime).toLocaleString('en-GB') }}</small>
    </div>
    <div class="ui segment">
      <form 
        @submit.prevent="save" 
        class="ui form">
        <div class="field">
          <label>Comment</label>
          <textarea 
            v-model="comment.body"
            rows="3"
            placeholder="Comment"/>
        </div>
        <div class="field">
          <button 
            type="submit" 
            class="ui button primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Post",
  layout: "noHeader",
  data() {
    return {
      comment: {
        body: null,
        postId: this.$route.params.post,
        authorId: this.$store.getters["user/getUser"]._id
      }
    };
  },
  computed: {
    // token() {
    //   return this.$store.getters["user/getToken"];
    // },
    param() {
      return this.$route.params.post;
    },
    post() {
      return this.$store.getters["post/info"](this.param);
    },
    user() {
      return this.$store.getters["user/getUser"];
    }
  },
  methods: {
    fetchData() {
      this.$store.dispatch("post/get");
    },
    save() {
      this.$store.dispatch("post/saveComment", this.comment).then(() => {
        this.fetchData();
        this.addActivity(`${this.user.username} has commented in`);
        this.comment.body = null;
      });
    },
    checkAnswer(comment) {
      const data = {
        _id: comment._id,
        valid: comment.isValidAnswer
      };

      this.$store.dispatch("post/toggleComment", data).then(() => {
        this.fetchData();
        this.addActivity(
          `${this.user.username} has marked comment as valid in`
        );
      });
    },
    addActivity(description) {
      const data = {
        description: description,
        path: this.$route.fullPath,
        postTitle: this.post.title,
        userId: this.user._id
      };

      this.$store
        .dispatch("activity/save", data)
        .then(response => {
          console.log(response);
        })
        .catch(error => {
          console.log(error);
        });
    },
    back() {
      this.$router.go(-1);
    }
  },
  mounted() {
    if (!this.user) {
      this.$router.push({
        name: "index"
      });
    }
    this.fetchData();
  }
};
</script>
