<template>
  <div class="ui container fluid mb">
    <div class="ui container">
      <div 
        class="ui grid"
        style="margin-top: 20px">
        <div
          class="four wide column">
          <div class="ui segment">
            <h2>
              <div class="content"><i class="user icon"/>{{ user.username }}</div>
            </h2>
            <p>Join the world’s largest ske developer community.</p>
            <menu-tag 
              @toggle="toggle"/>                    
          </div>
        </div>

        <div 
          class="twelve wide column">
          <div class="ui segment">
            <button 
              @click.prevent="edit(null)" 
              class="ui violet basic button"><i class="plus circle icon"/>Add Topic</button>
          </div>
          <div class="ui segment">
            <topic-title-form 
              v-if="index && !me"
              :user="user"/>
            <my-topic-form 
              v-else-if="index && me" 
              :user="user"/>
            <add-topic-form 
              @save="done"
              @cancel="done"
              v-else/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MenuTag from "./../../components/followup/menutag";
import AddTopicForm from "./../../components/followup/addTopicForm";
import TopicTitleForm from "./../../components/followup/topicTitleForm";
import MyTopicForm from "./../../components/followup/myTopicForm";
export default {
  name: "HomeFollowUp",
  layout: "noHeader",
  components: {
    MenuTag,
    AddTopicForm,
    TopicTitleForm,
    MyTopicForm
  },
  mounted() {
    if (!this.user) {
      this.$router.push({ name: "index" });
    }
  },
  data() {
    return {
      index: true,
      me: false,
      editingId: null
    };
  },
  computed: {
    user() {
      return this.$store.getters["user/getUser"];
    },
    // token() {
    //   return this.$store.getters["user/getToken"];
    // },
    userPost() {
      return this.$store.getters["post/fromUser"];
    }
  },
  methods: {
    edit() {
      this.index = false;
    },
    done() {
      this.fetchData();
      this.index = true;
    },
    fetchData() {
      this.$store.dispatch("post/get");
      this.$store.dispatch("post/getFromUser", this.user._id);
    },
    toggle(isMe) {
      console.log(isMe);
      this.me = isMe;
    }
  },
  mounted() {
    if (!this.user) {
      this.$router.push({
        name: "index"
      });
    }
    this.fetchData();
  }
};
</script>

<style lang="scss" scoped>
.ui.menu.vertical {
  width: auto;
}
</style>

