@import 'login';
@import 'restrictor';
@import 'header';
@import 'navbar';
@import 'progress';
@import 'card';
#__nuxt,
#__layout,
#wrapper {
  height: 100%;
}

html {
  height: 100%;
}

.fullscreen {
  overflow: hidden;
  height: 100%;
}

.is-fullwidth {
  width: 100vw;
}

.is-vertical-centered {
  display: flex;
  align-items: center;
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
}

.is-text-centered {
  text-align: center;
}

.hidden-desktop {
  display: flex;
}

.hidden-mobile {
  display: none;
}

.hidden {
  display: none;
}

.mt {
  margin-top: 6rem !important;
  &.m-small {
    margin-top: 4rem !important;
  }
}

.mb {
  margin-bottom: 6rem !important;
  &.m-small {
    margin-bottom: 4rem !important;
  }
}

.pt {
  padding-top: 6rem !important;
  &.p-small {
    padding-top: 4rem !important;
  }
}

.pb {
  padding-bottom: 6rem !important;
  &.p-small {
    padding-bottom: 4rem !important;
  }
}

.faded {
  background: hsla(100, 100, 100, 0.6) !important;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.danger {
  color: red;
}

@media only screen and (min-width: 600px) {
  .hidden-desktop {
    display: none !important;
  }
  .hidden-mobile {
    display: flex;
  }
}
