$backgroundImage: url("~/assets/img/index/background.jpg");
$gradient:linear-gradient(120deg,
unquote('#fdfbfbaa') 0%,
unquote('#ebedeeaa') 100%);
#login {
  background: $gradient, $backgroundImage;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#login-logo {
  display: flex;
  align-items: center;
}
