.ui.main.menu {
  margin-top: 4rem !important;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.5s ease-in-out, background-color 0.2s ease-in-out;
  &.fixed {
    margin-top: 0 !important;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  &.transparent {
    background: none;
    &.fixed {
      background: #fff !important;
      margin-top: 0 !important;
      border: 1px solid #DDD;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.ui.placeholder.menu {
  display: none;
  margin-top: 4rem !important;
  &.placed {
    display: block;
    visibility: hidden;
  }
}

.ui.dropdown .menu.visible {
  display: block;
}
