.ui.segment.progress-segment {
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 15px 35px 0px, rgba(0, 0, 0, 0.0666667) 0px 3px 10px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 15px 35px 0px, rgba(0, 0, 0, 0.0666667) 0px 3px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 15px 35px 0px, rgba(0, 0, 0, 0.0666667) 0px 3px 10px 0px;
  }
}
