$backgroundImage: url("~/assets/img/restrictor/background.jpg");
$gradient:linear-gradient(120deg,
unquote('#fdfbfbaa') 0%,
unquote('#ebedeeaa') 100%);
#restrictor {
  background: $gradient, $backgroundImage;
  background-position: center;
  background-size: cover;
}
