<template>
  <div>
    <h2 class="ui header">
      Add post
    </h2>
    <form 
      @submit.prevent="save" 
      class="ui form">
      <div class="field">
        <label>Title</label>
        <input 
          v-model="post.title"
          type="text" 
          name="title" 
          placeholder="Title">
      </div>
      <div class="field">
        <label>Content</label>
        <textarea 
          v-model="post.body" 
          placeholder="Content"
          rows="8"/>
      </div>
      <div class="ui field">
        <button 
          type="submit" 
          class="ui positive button">Save</button>
        <button 
          @click="cancel"
          type="button"
          class="ui negative button">Cancel</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "AddTopicForm",
  data() {
    return {
      post: {
        _id: null,
        title: null,
        body: null,
        authorId: this.$store.getters["user/getUser"]._id
      }
    };
  },
  computed: {
    user() {
      return this.$store.getters["user/getUser"];
    }
  },
  methods: {
    fetchData() {
      this.$store.dispatch("post/get").then(response => {
        if (this.$parent.editingId) {
          this.post = this.$store.getters["post/info"](this.$parent.editingId);
        }
      });
    },
    save() {
      this.$store.dispatch("post/save", this.post).then(response => {
        this.addActivity(`/followUp/${response._id}`, response.title);
        this.$emit("save");
      });
    },
    cancel() {
      this.$emit("cancel");
    },
    addActivity(path, postTitle) {
      const data = {
        description: `${this.user.username} has posted`,
        path,
        postTitle,
        userId: this.user._id
      };

      this.$store
        .dispatch("activity/save", data)
        .then(response => {
          console.log(response);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.fetchData();
  }
};
</script>

<style>
.content {
  margin-top: 5px;
  text-align: left;
}

.buttonpost {
  margin-left: auto;
  padding-left: 300px;
  margin-right: auto;
  padding-right: auto;
  margin-top: 20px;
}

.tagcontent {
  margin-top: 20px;
}
</style>
