<template>
  <div class="page-header">
    <h1 class="title">StackOverflow<small class="super-small">Mini</small></h1>
    <p class="subtitle">Learn, Share, Die</p>
  </div>
</template>

<script>
export default {
  name: "HeaderBoard"
};
</script>

<style lang="scss">
:root {
  --light-blue: hsl(210, 100%, 73%);
  --dark-blue: hsl(217, 100%, 64%);
  --bg-color: hsl(221, 37%, 90%);
  --title-color: hsl(200, 15%, 54%);
  --text-color: hsl(199, 18%, 40%);
}

.page-header {
  text-align: center;
  padding: 2.5rem 2rem;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 37%,
    #2cacd1 65%,
    #35eb93 100%
  );
  .title {
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
  }
  .subtitle {
    margin-top: -20px;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
  }
  .super-small {
    font-size: 1rem;
  }
}
</style>
