<template>
  <div class="ui secondary vertical menu">
    <a 
      @click="toggle(false)"
      class="item"
      style="color: red;">
      Home
    </a>
    <a 
      @click="toggle(true)"
      class="item"
      style="color: green;">
      My Topic
      <div class="ui green label">{{ $parent.userPost.length }}</div>
    </a>    
  </div>
</template>

<script>
export default {
  name: "MenuTag",
  methods: {
    toggle(me) {
      this.$emit("toggle", me);
    }
  }
};
</script>

<style scoped>
.content {
  text-align: center;
  padding-top: 30px;
  color: gray;
}

.tagcontent {
  color: rgb(30, 135, 221);
  margin-left: 20px;
}

.menuposition {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
</style>
