<template>
  <div class="app">
    <div class="ui pointing menu">
      <a 
        class="item"
        :class="{'active': tabAll}"
        @click="tabAll = true">
        <i class="columns icon"/>
        Topic Now
      </a>
      <a 
        class="item"
        :class="{'active': !tabAll}"
        @click="tabAll = false">
        <i class="folder open icon"/>
        My Topic           
      </a>
      <a class="right menu">
        <div class="item">
          <div class="ui transparent icon input">
            <input
              type="text"
              placeholder="Search...">
            <i class="search link icon"/>
          </div>
        </div>
      </a>
    </div>
    <div
      
      v-if="tabAll">  
      <topic-title-form/>
    </div>
    <div 
      class="ui segment"
      v-else>
      <my-topic-form/>
    </div>
  </div>
</template>

<script>
import TopicTitleForm from "./topicTitleForm";
import MyTopicForm from "./myTopicForm";
export default {
  name: "TabTopic",
  components: {
    TopicTitleForm,
    MyTopicForm
  },
  props: {
    tabAll: {
      type: Boolean,
      default: true
    }
  },

  mouted() {}
};
</script>

<style>
</style>
