<template>
  <div 
    v-if="posts.length > 0"
    class="ui segment stacked">
    <h1>All post</h1>
    <div 
      @click="go(post._id)"
      class="ui segment post clickable" 
      v-for="post in posts"
      :key="post._id">
      <div class="ui divided padded grid">
        <div class="twelve wide column">
          <h2 class="ui header">
            {{ post.title }}           
          </h2>
          <div class="textdate">Posted {{ new Date(post.dateTime).toLocaleTimeString() }} : {{ new Date(post.dateTime).toLocaleDateString() }}</div>
          <p>
            {{ post.body.substr(0, 80) + '...' }}
          </p>
          <div class="author">Posted by: {{ post.author.username }}</div>
        </div>
        <div class="four wide column is-text-centered">
          <div class="textanswer">
            <div 
              class="ui tiny statistic"
              :class="{'green':hasValidComment(post)}">
              <div class="value">
                {{ post.comments.length }}
              </div>
              <div class="label">
                Answer<span v-if="post.answer != 1">s</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div 
    class="ui segment"
    v-else>
    <p>
      Here is so empty as ฟัก
    </p>
  </div>
</template>

<script>
export default {
  name: "TopicTitleForm",
  props: {
    user: {
      type: Object,
      default: null
    }
  },
  computed: {
    posts() {
      return this.$store.getters["post/all"];
    }
  },
  methods: {
    hasValidComment(post) {
      return post.comments.some(value => value.isValidAnswer);
    },
    go(post) {
      this.$router.push({
        path: `/followUp/${encodeURIComponent(post)}`
      });
    }
  }
};
</script>

<style scoped>
.clickable {
  cursor: pointer;
}
.textanswer {
  margin-top: 40px;
}

.post {
  max-height: 180px;
}

.textdate,
.author {
  font-size: 12px;
  color: gray;
}

.textheader {
  font-size: 20px;
}
</style>
