<template>
  <div class="ui container text pt p-small">
    <h2>Challenge Suggestion</h2>
    <div class="ui two stackable cards">
      <nuxt-link 
        :to="{name: 'challenge'}"
        v-for="challenge in challenges" 
        :key="challenge._id" 
        class="ui card">
        <div class="content">
          <div class="header">{{ challenge.tile }}</div>
          <div class="meta">
            <a>{{ challenge.title }}</a>
          </div>
          <p>
            {{ challenge.description.substr(0, 30) + '...' }}
          </p>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChallengeSuggestion",
  props: {
    challenges: {
      type: Array,
      default: null
    }
  }
};
</script>

