<template>
  <div class="ui container text pt p-small">
    <h2>Continue learning</h2>
    <div class="ui three stackable cards">
      <router-link 
        :to="{path: ''}" 
        v-for="course in courses"
        :key="course._id"
        class="ui card">
        <div class="content">
          <div class="center aligned header">{{ course.name }}</div>
          <div class="center aligned description">
            <p>
              <i class="icon chevron right"/>
              {{ course.progress }} of {{ course.total }} finished
            </p>
          </div>
        </div>
        <div 
          class="ui bottom teal attached progress" 
          :data-value="course.progress" 
          :data-total="course.total">
          <div class="bar"/>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "ClassFeed",
  props: {
    courses: {
      type: Array,
      default: null
    }
  },
  mounted() {
    $(".ui.progress").progress();
  }
};
</script>
