<template>
  <div class="ui container text pt p-small">
    <h2>Follow up</h2>
    <div class="ui feed">
      <div 
        class="event" 
        v-for="activity in activities.reverse()" 
        :key="activity.id">
        <div class="label">
          <i class="newspaper icon"/>
        </div>
        <div class="content">
          <div class="summary">
            {{ activity.author }} {{ activity.description }}
            <nuxt-link 
              :to="{path: activity.path}">
              {{ activity.postTitle }}
            </nuxt-link>
            <div class="date">{{ new Date(activity.dateTime).toLocaleString() }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FollowUpFeed",
  computed: {
    activities() {
      return this.$store.getters["activity/recent"];
    }
  },
  methods: {
    fetchData() {
      this.$store.dispatch("activity/getAll");
    }
  },
  mounted() {
    this.fetchData();
  }
};
</script>

