<template>
  <div 
    v-if="progress" 
    class="ui container text">
    <h2>Overall Progress</h2>
    <div class="ui stackable three cards">

      <nuxt-link 
        :to="{name: 'charger'}" 
        class="ui card">
        <div class="content">
          <div class="header">Charger</div>
          <div class="meta">
            <span class="category">Create potential</span>
          </div>
          <div class="description">
            <p/>
          </div>
        </div>
        <div class="extra content">
          <div class="label">{{ progress.content }} of {{ contentCount }} done</div>
        </div>
      </nuxt-link>

      <nuxt-link 
        :to="{name: 'challenge'}" 
        class="ui card">
        <div class="content">
          <div class="header">Challenges</div>
          <div class="meta">
            <span class="category">Thrives yourself</span>
          </div>
          <div class="description">
            <p/>
          </div>
        </div>
        <div class="extra content">
          <div class="label">{{ challengeCount - progress.challenge }} more to go</div>
        </div>
      </nuxt-link>

      <nuxt-link 
        :to="{name: 'followUp'}" 
        class="ui card">
        <div class="content">
          <div class="header">Follow up</div>
          <div class="meta">
            <span class="category">Go, go, go!</span>
          </div>
          <div class="description">
            <p/>
          </div>
        </div>
        <div class="extra content">
          <div class="label">{{ 100 - progress.followUp }} until the goal</div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>


<script>
export default {
  name: "OverallProgress",
  props: {
    progress: {
      type: Object,
      default: null
    },
    contentCount: {
      type: Number,
      default: 0
    },
    challengeCount: {
      type: Number,
      default: 0
    }
  }
};
</script>
