<template>
  <div 
    id="footer" 
    class="ui inverted vertical footer segment">
    <div class="ui is-text-centered container">
      <small>Copyright {{ year }} Dev In Peace. All right reserved. </small>
    </div>
  </div>
</template>

<script>
export default {
  name: "MainFooter",
  computed: {
    year() {
      return new Date().getFullYear();
    }
  }
};
</script>
