<template>
  <div 
    id="header" 
    class="ui vertical masthead center aligned segment">
    <navigation 
      v-if="$store.getters['user/getUser']"
      :user="user" 
      :transparent="true"/>
    <div class="mt mb animated tada">
      <h3>Goodbye world!</h3>
      <h1>And welcome to hell</h1>
    </div>
  </div>
</template>

<script>
import Navigation from "./navigation";
export default {
  name: "MainHeader",
  components: {
    Navigation
  },
  props: {
    user: {
      type: Object,
      default: null,
      required: true
    }
  }
};
</script>
