<template>
  <div>
    <div 
      :class="{'transparent': transparent}"
      class="ui borderless main menu">
      <div class="ui container">
        <div class="header item">
          <img 
            class="logo" 
            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Vue.js_Logo.svg">
          SOS Charger
        </div>
        <nuxt-link 
          :to="{name: 'home'}"
          href="#" 
          class="item">Home</nuxt-link>
        <nuxt-link 
          :to="{name: 'charger'}"  
          class="item">Charger</nuxt-link>
        <nuxt-link
          :to="{name: 'challenge'}"  
          class="item">Challenge</nuxt-link>
        <nuxt-link
          :to="{name: 'followUp'}" 
          href="#" 
          class="item">Follow up</nuxt-link>
        <div class="right menu">
          <a
            @mouseover="hoverMenu = true"
            @mouseout="hoverMenu = false"
            :class="hoverMenu? 'visible active' : ''"
            href="#" 
            class="ui right floated dropdown item" 
            tabindex="0">

            {{ user.username }} 

            <i class="dropdown icon"/>
            <div 
              :class="hoverMenu? 'visible': 'hidden'"
              class="menu transition" 
              tabindex="-1">
              <nuxt-link 
                :to="{name: 'profile'}" 
                class="item">
                Profiles
              </nuxt-link>
              <nuxt-link 
                v-if="user.role === 'Admin'"
                :to="{name: 'adminPanel'}" 
                class="item">
                Admin Panel
              </nuxt-link>
              <div class="divider"/>
              <a
                @click.prevent="logout" 
                class="item">Logout</a>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="ui borderless menu placeholder">
      <div class="ui container">
        <div class="header item">
          <img 
            class="logo" 
            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Vue.js_Logo.svg">
          SOS Charger
        </div>
        <a 
          href="#" 
          class="item">Home</a>
        <a 
          href="#" 
          class="item">Charger</a>
        <a 
          href="#" 
          class="item">Challenge</a>
        <a 
          href="#" 
          class="item">Follow up</a>
        <a 
          class="ui right floated dropdown item"
          tabindex="0">
          {{ user.username }} <i class="dropdown icon"/>
          <div 
            class="menu" 
            tabindex="-1">
            <div class="item">Notification</div>
            <div class="item">Profiles</div>
            <div 
              v-if="user.role === 'Admin'" 
              class="item">Admin Panel</div>
            <div class="divider"/>
            <div class="item">Logout</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navigation",
  props: {
    transparent: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object,
      default: () => {
        return {
          token: null
        };
      }
    }
  },
  data() {
    return {
      hoverNoti: false,
      hoverMenu: false,
      notifications: [
        {
          id: 1,
          title: "Darm has commented on your post",
          time: "now"
        },
        {
          id: 2,
          title: "Darm has commented on your post",
          time: "now"
        }
      ]
    };
  },
  methods: {
    logout() {
      this.$store.dispatch("user/logout").then(response => {
        this.$router.push({
          name: "index"
        });
      });
    }
  }
};
</script>
