<template>
  <div 
    id="restrictor" 
    class="container fullscreen is-vertical-centered">
    <div class="ml-1">
      <h1>We're not support mobile working</h1>
      <h3>Sorry for inconvenience</h3>
    </div>
  </div>
</template>
