<template>
  <div class="ui container pt p-small">
    <button 
      @click.prevent="back" 
      class="ui labeled icon primary button">
      <i class="icon chevron left"/>
      Back
    </button>
    <h1>{{ param.toUpperCase() }}</h1>
    <div 
      v-if="section && section.contents.length" 
      class="ui four stackable cards">
      <nuxt-link 
        :to="{path: `/charger/${param}/${encodeURIComponent(content.title.toLowerCase())}`}"
        v-for="content in section.contents" 
        :key="content._id" 
        class="ui link card">
        <div class="content">
          <h3 class="ui header">
            {{ content.title }}
            <span class="sub header">
              <i class="icon circular small check"/>Completed
            </span>
          </h3>
          <p>
            {{ content.body.substr(0, 80) + '...' }}
          </p>
        </div>
      </nuxt-link>
    </div>
    <div 
      v-else 
      class="ui floating message">
      There is no currently content for this section
    </div>
  </div>
</template>

<script>
export default {
  name: "Section",
  layout: "noHeader",
  data() {
    return {};
  },
  computed: {
    // token() {
    //   return this.$store.getters["user/getToken"];
    // },
    user() {
      return this.$store.getters["user/getUser"];
    },
    param() {
      return this.$route.params.section;
    },
    section() {
      return this.$store.getters["section/title"](this.param);
    }
  },
  methods: {
    fetchData() {
      this.$store.dispatch("section/get");
    },
    back() {
      this.$router.go(-1);
    }
  },
  mounted() {
    if (!this.user) {
      this.$router.push({
        name: "index"
      });
    }
    this.fetchData();
  }
};
</script>

