<template>
  <div class="ui container pt pb p-small">
    <h2 class="ui header">
      <i class="icon user secret"/>
      <div class="content">
        Admin Power tools
      </div>
    </h2>
    <div class="ui grid relaxed padded">
      <div class="ui row">
        <div class="four wide column">
          <admin-sidebar 
            ref="side" 
            @switchModule="switchModule"/>
        </div>
        <div class="twelve wide column">
          <charger-view 
            v-if="module === 'charger'"/>
          <challenge-view
            v-else-if="module === 'challenge'" />
          <section-view
            v-else-if="module === 'sections'" />
          <tag-view 
            v-else-if="module === 'tags'"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AdminSidebar from "./../components/adminPanel/sidebar";
import ChargerView from "./../components/adminPanel/chargerView";
import ChallengeView from "./../components/adminPanel/challengeView";
import SectionView from "./../components/adminPanel/sectionView";
export default {
  name: "AdminPanel",
  layout: "noHeader",
  components: {
    AdminSidebar,
    ChargerView,
    ChallengeView,
    SectionView
  },
  data() {
    return {
      module: "charger",
      index: true
    };
  },
  computed: {
    user() {
      return this.$store.getters["user/getUser"];
    }
    // token() {
    //   return this.$store.getters["user/getToken"];
    // }
  },
  methods: {
    fetchData() {},
    switchModule(prop) {
      this.module = prop;
      this.index = true;
    },
    redirect() {
      if (!this.user) {
        this.$router.push({
          name: "index"
        });
      }
      if (this.user.role !== "Admin") {
        this.$router.go(-1);
      }
    }
  },
  mounted() {
    this.fetchData();
    this.redirect();
  }
};
</script>
