<template>
  <div
    id="login" 
    class="fullscreen is-vertical-centered hidden-mobile">
    <div 
      class="ui dimmer" 
      :class="{'active':isLoading}">
      <div class="ui loader"/>
    </div>
    <div  
      class="ui centered container relaxed divided grid">
      <div class="row">
        <div 
          id="login-logo" 
          class="four wide column animated zoomIn">
          <img 
            class="logo"
            src="@/assets/img/logo3.png" 
            width="200"
            height="200">
          <small>v.0.9.9</small>
        </div>
        <div class="six wide column">
          <transition 
            name="slide-fade" 
            mode="out-in">
            <login-form 
              v-if="!toggle"
              @login="login" 
              @registerToggle="registerToggle"/>
            <registerForm 
              v-else
              @registerToggle="registerToggle"
            />
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import loginForm from "./../components/login/loginForm";
import registerForm from "./../components/login/registerForm";
export default {
  layout: "login",
  components: {
    loginForm,
    registerForm
  },
  data() {
    return {
      toggle: false,
      isLoading: false
    };
  },
  computed: {
    user() {
      return this.$store.getters["user/getUser"];
    }
    // token() {
    //   return this.$store.getters["user/getToken"];
    // }
  },
  mounted() {
    this.redirect();
  },
  methods: {
    registerToggle() {
      this.toggle = !this.toggle;
    },
    login() {
      this.redirect();
    },
    redirect() {
      if (this.user) {
        this.$router.push({
          name: "home"
        });
      }
    }
  }
};
</script>
