<template>
  <form class="ui form">
    <input 
      type="file" 
      name="file">
    <input 
      type="submit" 
      value="go">
  </form>
</template>

<script>
export default {
  name: "Test",
  data() {
    return {
      file: null
    };
  }
};
</script>



