<template>
  <nuxt/>
</template>

<script>
export default {
  computed: {
    routeNameCapitalized() {
      const routeName = this.$route.name || "404";
      return (
        routeName.substring(0, 1).toLocaleUpperCase() +
        routeName.substring(1, routeName.length)
      );
    }
  },
  head() {
    return {
      titleTemplate: `SosCharger | ${this.routeNameCapitalized}`
    };
  }
};
</script>
