<template>
  <div id="wrapper">
    <Restrictor class="hidden-desktop"/>
    <nuxt class="hidden-mobile"/>
  </div>
</template>

<script>
import Restrictor from "./../components/restrictor";
export default {
  components: {
    Restrictor
  },
  head() {
    return {
      titleTemplate: "SosCharger | Login"
    };
  }
};
</script>
