<template>
  <div id="wrapper">
    <Restrictor class="hidden-desktop"/>
    <div 
      id="inner-wrapper" 
      class="hidden-mobile ui container fluid">
      <navigation 
        :user="user" 
        :transparent="false"/>
      <nuxt/>
      <main-footer/>
    </div>
  </div>
</template>

<script>
import Restrictor from "./../components/restrictor";
import Navigation from "./../components/navigation";
import MainFooter from "./../components/footer";
export default {
  components: {
    Restrictor,
    Navigation,
    MainFooter
  },
  computed: {
    routeNameCapitalized() {
      const routeName = this.$route.name || "404";
      return (
        routeName.substring(0, 1).toLocaleUpperCase() +
        routeName.substring(1, routeName.length)
      );
    },
    user() {
      return this.$store.getters["user/getUser"];
    }
  },
  head() {
    return {
      titleTemplate: `SosCharger | ${this.routeNameCapitalized}`
    };
  }
};
</script>
