<template>
  <div id="wrapper">
    <Restrictor class="hidden-desktop" />
    <div 
      id="inner-wrapper" 
      class="hidden-mobile">
      <div class="ui container fluid">
        <main-header :user="user" />
        <nuxt/>
      </div>
    </div>
    <main-footer/>
  </div>
</template>

<script>
import Restrictor from "./../components/restrictor";
import MainHeader from "./../components/header";
import MainFooter from "./../components/footer";
export default {
  components: {
    Restrictor,
    MainHeader,
    MainFooter
  },
  computed: {
    routeNameCapitalized() {
      const routeName = this.$route.name || "404";
      return (
        routeName.substring(0, 1).toLocaleUpperCase() +
        routeName.substring(1, routeName.length)
      );
    },
    user() {
      return this.$store.getters["user/getUser"];
    }
  },
  head() {
    return {
      titleTemplate: `SosCharger | ${this.routeNameCapitalized}`
    };
  }
};
</script>
