<template>
  <div class="ui container">
    <div class="ui grid">
      <div class="four wide column sidebar">
        <div class="ui vertical menu">
          <div 
            v-for="section in sections" 
            :key="section._id"
            class="ui dropdown item">
            {{ section.title }} <small>({{ section.challenges.length }})</small>
            <i class="dropdown icon"/>
            <div class="menu">
              <a 
                v-if="section.challenges"
                v-for="challenge in section.challenges" 
                :key="challenge._id" 
                @click.prevent="loadChallenge(challenge._id)"
                class="item">{{ challenge.title }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="twelve wide column content pb p-small">
        <div 
          v-if="running" 
          class="ui icon message">
          <i class="notched circle loading icon"/>
          <div class="content">
            <div class="header">
              Just one second
            </div>
            <p>We're testing your code. Don't rush me</p>
          </div>
        </div>
        <div 
          v-if="challenge" 
          class="problem">
          <div 
            class="ui segment" 
            v-if="challengeAnswers.length">
            Result: [{{ resultFormat(latestChallengeAnswers.outputs) }}] . Attempts: {{ challengeAnswers.length }}
          </div>
          <problem-card>
            <div slot="problem-name">{{ challenge.title }}</div>
            <div slot="problem-description">{{ challenge.description }}</div>
          </problem-card>
          <code-mirror
            ref="codeMirror"
            class="code-blog"/>
          <button
            :disabled="running"
            class="ui primary button"
            @click.prevent="submitCode()" >Submit</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import problemCard from "@/components/problem/problemCard";
import codeMirror from "@/components/tools/codeMirror";

export default {
  layout: "noHeader",
  components: {
    problemCard,
    codeMirror
  },
  data() {
    return {
      challengeId: null,
      running: false
    };
  },
  computed: {
    user() {
      return this.$store.getters["user/getUser"];
    },
    // token() {
    //   return this.$store.getters["user/getToken"];
    // },
    challenge() {
      return this.$store.getters["challenge/info"](this.challengeId);
    },
    sections() {
      return this.$store.getters["section/all"];
    },
    userChallengeAnswer() {
      return this.$store.getters["answer/fromUser"];
    },
    challengeAnswers() {
      return this.userChallengeAnswer.filter(
        value => value.challenge === this.challengeId
      );
    },
    latestChallengeAnswers() {
      return this.challengeAnswers.slice(-1)[0];
    }
  },
  methods: {
    resultFormat(results) {
      console.log(results.length);
      const mapped = results.map(value => {
        return value === "true" ? "P" : "X";
      });
      return mapped.toString().replace(",", "");
    },
    fetchData() {
      this.$store.dispatch("challenge/get");
      this.$store.dispatch("section/get").then(sections => {
        this.challengeId = sections[0].challenges[0]._id;
      });
      this.$store.dispatch("answer/getFromUser", this.user._id);
    },
    init() {
      $(".ui.dropdown").each(function(index) {
        $(this).hover(function() {
          $(this).toggleClass("visible");
          $(this)
            .children()
            .toggleClass("visible");
        });
      });
    },
    loadChallenge(id) {
      this.challengeId = id;
    },
    submitCode() {
      this.running = true;
      const data = {
        code: this.$refs.codeMirror.code
      };
      this.$store.dispatch("answer/saveAssets", data).then(response => {
        const answer = {
          userId: this.$store.getters["user/getUser"]._id,
          challengeId: this.challengeId,
          bodyUrl: encodeURIComponent(response.data)
        };

        this.saveAnswer(answer);
      });
    },
    saveAnswer(answer) {
      this.$store
        .dispatch("answer/save", answer)
        .then(response => {
          this.runCode(answer, response.data._id);
        })
        .catch(error => {
          console.log(error);
        });
    },
    runCode(answer, id) {
      this.$store.dispatch("answer/run", answer).then(response => {
        const formatted = response.results.map(value => value.success);
        answer._id = id;
        answer.outputs = formatted;
        this.saveOutput(answer);
      });
    },
    saveOutput(answer) {
      this.$store.dispatch("answer/saveOutput", answer).then(response => {
        this.running = false;
        this.fetchData();
      });
    }
  },
  mounted() {
    if (!this.user) {
      this.$router.push({
        name: "index"
      });
    }
    this.init();
    this.fetchData();
  }
};
</script>

<style lang="scss" scoped>
.clickable {
  cursor: pointer;
}
.pull-right {
  right: 0;
}

.grid {
  margin: 0;
}
.sidebar {
  width: 100%;
}
.code-blog {
  margin-bottom: 1rem;
}
</style>

