<template>
  <div class="ui container fluid">
    <div class="ui bShadow bShadow-64">
      <div class="ui container pt pb">
        <overall-progress 
          :progress="progress" 
          :content-count="contentCount" 
          :challenge-count="challengeCount"/>
        <class-feed :courses="contentSuggestion"/>
        <challenge-suggestion :challenges="challengeSuggestion"/>
        <follow-up-feed/>
      </div>
    </div>
  </div>
</template>

<script>
import OverallProgress from "./../components/home/overallProgress";
import ClassFeed from "./../components/home/classFeed";
import ChallengeSuggestion from "./../components/home/challengeSuggestion";
import FollowUpFeed from "./../components/home/followUpFeed";

export default {
  name: "Home",
  layout: "withHeader",
  components: {
    OverallProgress,
    ClassFeed,
    ChallengeSuggestion,
    FollowUpFeed
  },
  computed: {
    progress() {
      return this.$store.getters["progress/progress"];
    },
    contentCount() {
      return this.$store.getters["content/count"];
    },
    challengeCount() {
      return this.$store.getters["challenge/count"];
    },
    user() {
      return this.$store.getters["user/getUser"];
    },
    // token() {
    //   return this.$store.getters["user/getToken"];
    // },
    contentSuggestion() {
      return this.$store.getters["content/suggestion"];
    },
    challengeSuggestion() {
      return this.$store.getters["challenge/suggestion"];
    }
  },
  methods: {
    redirect() {
      if (!this.user) {
        this.$router.push({
          name: "index"
        });
      }
    },
    fetchData() {
      const actions = [
        this.$store.dispatch("progress/get", this.user._id),
        this.$store.dispatch("content/get"),
        this.$store.dispatch("challenge/get")
      ];
      Promise.all(actions);
    }
  },
  mounted() {
    this.redirect();
    this.fetchData();
  }
};
</script>

