<template>
  <div 
    class="ui container text pt pb p-small" 
    v-if="user">
    <h2 class="ui header">
      <i class="icon user"/>
      <div class="content">
        {{ fullName }}
        <div 
          class="sub header" 
          v-if="user.bio.length">
          "{{ user.bio }}"
        </div>
      </div>
    </h2>
    <div class="ui hidden divider"/>
    <div class="ui container">
      <basic-profile-form/>
    </div>
  </div>
</template>

<script>
import BasicProfileForm from "./../components/profile/basicProfileForm";
export default {
  name: "Profile",
  layout: "noHeader",
  components: {
    BasicProfileForm
  },
  computed: {
    fullName() {
      return this.$store.getters["user/fullName"];
    },
    user() {
      return this.$store.getters["user/getUser"];
    }
    // token() {
    //   return this.$store.getters["user/getToken"];
    // }
  },
  mounted() {
    if (!this.user) {
      this.$router.push({
        name: "index"
      });
    }
  }
};
</script>
