<template>
  <div class="ui card">
    <div class="content">
      <h3 v-if="$slots['problem-name']">
        <slot
          class="header"
          name="problem-name" />
      </h3>
      <slot
        class="image"
        name="problem-image-before-desc"
        v-if="$slots['problem-image-before-desc']"/>
      <p v-if="$slots['problem-description']">
        <slot
          class="description"
          name="problem-description" />
      </p>
      <slot
        class="image"
        name="problem-image-after-desc"
        v-if="$slots['problem-image-after-desc']"/>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.card {
  width: 100%;
  h3 {
    margin-bottom: 0;
  }
}
</style>
